.tasks-wrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1.5rem;
  flex: 1 1 auto;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-around;
}

.creation-card {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 15rem;

  &:hover {
    cursor: pointer;
  }
}